:root{
    font-family: sans-serif;
    --primary-color: #FAB12F;
    --primary-color-lite: #FFD966;
}
.navbar{
display: flex;
width: 100%;
background: var(--primary-color);
justify-content:flex-start;
border-radius: 5px;
}
.navbar .logo h1{
    color: white;
    padding: 0 0.5em;
}
.navbar .nav-items {
    display: flex;
    gap: 5em;
    align-items: center;
    margin: auto;
}

.navbar .nav-items a{
    text-decoration: none;
    color: white;
}

    /* Burger icon */
   .navbar .menu-toggle{
    position: absolute;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        width:34px;
        height:24px;
        cursor:pointer;
        /*-webkit-tap-highlight-color: transparent;*/
        right: 1.5em;
        margin: 1.5em 0;
    }
    .menu-toggle .bar{
        z-index: 5;
        position: relative;
        height:3px;
        width:100%;
        background:#fffefe;
        border-radius:2px;
        transition: transform 0.3s cubic-bezier(.4,0,.2,1), opacity 0.2s ease;
        transform-origin: center;
    }


/*hero section*/
.hero{
    padding: 0.5em;
    width: 98%;
    margin: 1em auto;
    background-color: var(--primary-color-lite);
    
}
.cta{
    display: block;

}
.cta form{
    display: flex;
    gap: 0.1em;
}
form input{
    outline: none;
    border-radius: 5px;
    padding: 5px;
    border-color: var(--primary-color);
    color: var(--primary-color);
}
form #submit-button{
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
}